
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    .containerValueHelp {
        position: relative;
    }
    .labelValueHelp {
        position: absolute;
        right: 2.5em;
    }
    .inputValueHelp {

    }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    .containerValueHelp {
        position: relative;
    }
    .labelValueHelp {
        position: absolute;
        right: 2.5em;
    }
    .inputValueHelp {

    }
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .containerValueHelp {
        position: relative;
    }
    .labelValueHelp {
        position: absolute;
        right: 2.5em;
    }
    .inputValueHelp {

    }
  
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
    .labelValueHelp {
        width: 75% !important
    }
    .inputValueHelp {
        width: 20% !important
    }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
    .labelValueHelp {
        width: 100% !important
    }
    .inputValueHelp {
        width: 100% !important
    }
    .inputValueHelp > div {
        width: 100% !important
    }  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
    .labelValueHelp {
        width: 100% !important
    }
    .inputValueHelp {
        width: 100% !important
    }
  
}
